@inherits BlazorStateComponent

<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="new[] { typeof(AxxesMarket.Shared.Components.Shared.Avatar.Avatar).Assembly }">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                @if (context.User.Identity?.IsAuthenticated != true)
                {
                    <RedirectToLogin />
                }
                else
                {
                    <p role="alert">You are not authorized to access this resource.</p>
                }
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
<!-- this hides the loading indicator when the page app is loading -->
<style>
    #app {
        display: none;
    }
</style>