@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
<div>
    <span @onclick=@(() => SetCulture("nl-BE")) class="mr-2 clickable @(_culture == "c=nl-BE|uic=nl-BE" ? "font-weight-bold text-primary" : "")">NL</span>
    <span @onclick=@(() => SetCulture("en-US")) class="clickable @(_culture == "c=en-US|uic=en-US" ? "font-weight-bold text-primary" : "") ">EN</span>
</div>

@code {
    private string? _culture;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            _culture = await JSRuntime.InvokeAsync<string>("getCookie", ".AspNetCore.Culture");
            StateHasChanged();
        }
    }

    private async Task SetCulture(string culture) {
        await JSRuntime.InvokeVoidAsync("setCookie", ".AspNetCore.Culture", $"c={culture}|uic={culture}", 100);
        NavigationManager.NavigateTo(NavigationManager.Uri, true); // refresh the page
    }
}
